$height-mediabar: 90px;

.mediabar {
    position: fixed;
    bottom: 0;

    background-color: rgb(33, 33, 33);

    height: $height-mediabar;

    width: 100%;

    &:hover .mediabar-progressbar::after {
        opacity: 1;
    }

    &-hidden {
        display: none;
    }

    &-content {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    &-progressbar-container {
        position: absolute;
        top: -6px;
        height: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;        
    }

    &-progressbar {
        position: relative;
        background-color: $main-color;
        height: 4px;
        width: 0%;    
        
        &::after {
            content: "";
            position: absolute;
            
            top: -100%;
            right: 0;

            width: 12px;
            height: 12px;
            background-color: $main-color;
            border-radius: 50%;
            opacity: 0;
            transition: opacity .18s ease;
        }
    }

    &-controls-center {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &-controls-right {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &-before, &-after, &-playpause {
        cursor: pointer;
    }
    &-timecode {
        color: #fff;
    }

    &-extra {
        display: flex;
        align-items: center;
        gap: 16px;
        &-img {
            width: 45px;
            height: 45px;

            img {
                width: 100%;
            }

            @media screen and (max-width: $responsive-breakpoint) {
                display: none;
            }
        }       

        &-info {
            display: flex;
            flex-direction: column;
            color: #fff;

            span:nth-child(2) {
                color: rgba(255, 255, 255, 0.7);
            }

            @media screen and (max-width: 630px) {
                display: none;
            }
        }
    }

    input[type="range"] {
        accent-color: $main-color;
    }
}