.music {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    position: relative;
    margin-left: $width-sidebar;
    height: calc(100vh - $height-mediabar);

    background-color: #000;

    .music-img {
        height: 300px;
        width: 300px;
        img {
            object-fit: cover;
            height: 300px;
            width: 300px;
        }
    }

    &-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;

        span:nth-child(2) {
            color: rgba(255, 255, 255, .7);
        }
    }

    .frequency-canvas {
        position: absolute;
        
        bottom: 0;
    
        height: 300px;
        width: 100%;
        pointer-events: none; /* Disable canvas interaction */
    }
}